## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

# [作業目標]
- 熟悉更多的 Python 資料操作

# [作業重點]
- 列出資料的大小 (In[4], Hint : shape)
- 列出所有欄位 (In[5], 有多種寫法)
- 擷取部分資料 (In[6], Hint : loc 或 iloc)

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path
dir_data = './data/'

In [3]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ./data/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [5]:
app_train.shape

(307511, 122)

#### 列出所有欄位

In [9]:
app_train.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

#### 截取部分資料

In [11]:
app_train.iloc[6]

SK_ID_CURR                                  100009
TARGET                                           0
NAME_CONTRACT_TYPE                      Cash loans
CODE_GENDER                                      F
FLAG_OWN_CAR                                     Y
FLAG_OWN_REALTY                                  Y
CNT_CHILDREN                                     1
AMT_INCOME_TOTAL                            171000
AMT_CREDIT                             1.56073e+06
AMT_ANNUITY                                  41301
AMT_GOODS_PRICE                          1.395e+06
NAME_TYPE_SUITE                      Unaccompanied
NAME_INCOME_TYPE              Commercial associate
NAME_EDUCATION_TYPE               Higher education
NAME_FAMILY_STATUS                         Married
NAME_HOUSING_TYPE                House / apartment
REGION_POPULATION_RELATIVE                0.035792
DAYS_BIRTH                                  -13778
DAYS_EMPLOYED                                -3130
DAYS_REGISTRATION                            -1213
DAYS_ID_PUBLISH                               -619
OWN_CAR_AGE                                     17
FLAG_MOBIL                                       1
FLAG_EMP_PHONE                                   1
FLAG_WORK_PHONE                                  0
FLAG_CONT_MOBILE                                 1
FLAG_PHONE                                       1
FLAG_EMAIL                                       0
OCCUPATION_TYPE                        Accountants
CNT_FAM_MEMBERS                                  3
                                      ...
DEF_30_CNT_SOCIAL_CIRCLE                         0
OBS_60_CNT_SOCIAL_CIRCLE                         1
DEF_60_CNT_SOCIAL_CIRCLE                         0
DAYS_LAST_PHONE_CHANGE                       -1562
FLAG_DOCUMENT_2                                  0
FLAG_DOCUMENT_3                                  0
FLAG_DOCUMENT_4                                  0
FLAG_DOCUMENT_5                                  0
FLAG_DOCUMENT_6                                  0
FLAG_DOCUMENT_7                                  0
FLAG_DOCUMENT_8                                  1
FLAG_DOCUMENT_9                                  0
FLAG_DOCUMENT_10                                 0
FLAG_DOCUMENT_11                                 0
FLAG_DOCUMENT_12                                 0
FLAG_DOCUMENT_13                                 0
FLAG_DOCUMENT_14                                 1
FLAG_DOCUMENT_15                                 0
FLAG_DOCUMENT_16                                 0
FLAG_DOCUMENT_17                                 0
FLAG_DOCUMENT_18                                 0
FLAG_DOCUMENT_19                                 0
FLAG_DOCUMENT_20                                 0
FLAG_DOCUMENT_21                                 0
AMT_REQ_CREDIT_BUREAU_HOUR                       0
AMT_REQ_CREDIT_BUREAU_DAY                        0
AMT_REQ_CREDIT_BUREAU_WEEK                       0
AMT_REQ_CREDIT_BUREAU_MON                        1
AMT_REQ_CREDIT_BUREAU_QRT                        1
AMT_REQ_CREDIT_BUREAU_YEAR                       2
Name: 6, Length: 122, dtype: object

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子

In [13]:
app_train.loc[app_train['AMT_INCOME_TOTAL']==171000]

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
6,100009,0,Cash loans,F,Y,Y,1,171000.0,1560726.0,41301.0,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,2.0
91,100108,0,Cash loans,F,N,Y,3,171000.0,545040.0,31288.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
128,100149,0,Cash loans,M,Y,N,0,171000.0,539590.5,26374.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
285,100328,0,Cash loans,F,N,N,1,171000.0,1270746.0,42124.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
389,100452,1,Cash loans,M,N,Y,1,171000.0,1009566.0,36391.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
500,100577,0,Cash loans,F,N,Y,0,171000.0,555273.0,15912.0,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,5.0
652,100746,0,Revolving loans,M,Y,Y,0,171000.0,495000.0,24750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
654,100749,0,Cash loans,F,N,N,0,171000.0,679500.0,19998.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0
1085,101261,0,Cash loans,F,N,Y,0,171000.0,1256400.0,36864.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1161,101369,0,Cash loans,F,Y,Y,1,171000.0,301464.0,23949.0,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,0.0
1576,101847,0,Cash loans,F,N,Y,3,171000.0,371862.0,23895.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
1604,101882,0,Cash loans,M,Y,Y,0,171000.0,526500.0,41728.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,7.0
1709,101998,0,Revolving loans,M,N,Y,0,171000.0,180000.0,9000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1755,102050,0,Cash loans,F,N,N,0,171000.0,1436850.0,39640.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1819,102131,0,Cash loans,M,Y,N,2,171000.0,675000.0,34420.5,...,1,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
1836,102150,0,Cash loans,M,N,Y,0,171000.0,545040.0,26509.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1929,102261,0,Cash loans,F,Y,N,1,171000.0,148707.0,15745.5,...,0,0,0,0,1.0,0.0,0.0,0.0,0.0,1.0
1972,102313,0,Revolving loans,F,N,Y,2,171000.0,270000.0,13500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2011,102358,0,Cash loans,F,N,N,0,171000.0,679500.0,19867.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,2.0
2015,102362,0,Cash loans,F,Y,Y,0,171000.0,981000.0,27108.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2032,102381,0,Cash loans,F,N,Y,0,171000.0,845811.0,33673.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,6.0
2101,102469,0,Cash loans,M,Y,Y,0,171000.0,1395000.0,42426.0,...,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2224,102609,0,Cash loans,F,N,Y,0,171000.0,820453.5,44640.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2302,102693,0,Cash loans,F,N,Y,0,171000.0,402214.5,31905.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
2380,102784,0,Cash loans,F,N,Y,0,171000.0,1047771.0,37764.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
2399,102804,0,Cash loans,F,N,Y,0,171000.0,675000.0,45108.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
2657,103103,0,Cash loans,F,N,Y,1,171000.0,343800.0,16852.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,6.0
2710,103163,1,Cash loans,M,Y,N,2,171000.0,675000.0,32472.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
2794,103262,0,Cash loans,F,N,Y,0,171000.0,948582.0,30600.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2873,103352,0,Revolving loans,M,Y,Y,1,171000.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303998,452215,0,Revolving loans,F,N,Y,0,171000.0,202500.0,10125.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
304426,452703,1,Cash loans,M,N,Y,0,171000.0,231813.0,12703.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0
304575,452875,0,Cash loans,F,N,Y,0,171000.0,1078200.0,28570.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
304618,452923,1,Cash loans,F,N,Y,0,171000.0,254700.0,20250.0,...,0,0,0,0,0.0,0.0,1.0,1.0,4.0,4.0
304633,452941,0,Cash loans,M,N,Y,0,171000.0,1051245.0,30735.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,2.0
304668,452980,0,Cash loans,F,N,Y,0,171000.0,215640.0,9625.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
305022,453392,1,Cash loans,F,N,Y,1,171000.0,204768.0,13815.0,...,0,0,0,0,0.0,0.0,0.0,0.0,3.0,7.0
305094,453475,0,Cash loans,M,Y,N,2,171000.0,1288350.0,34114.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
305209,453613,0,Cash loans,M,Y,Y,0,171000.0,225000.0,11619.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,3.0
305255,453663,0,Cash loans,F,N,Y,0,171000.0,1762110.0,51651.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
305505,453957,1,Cash loans,F,N,N,0,171000.0,121500.0,5841.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
305864,454375,0,Cash loans,F,N,Y,0,171000.0,314100.0,16164.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
305966,454499,0,Cash loans,F,N,Y,0,171000.0,993082.5,42205.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,4.0
305974,454507,0,Cash loans,F,N,Y,0,171000.0,855882.0,34987.5,...,0,0,0,0,1.0,0.0,0.0,0.0,0.0,0.0
306057,454599,0,Cash loans,F,Y,Y,1,171000.0,1288350.0,41692.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
306363,454953,0,Cash loans,F,N,Y,0,171000.0,346500.0,24246.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,7.0
306370,454961,0,Cash loans,F,Y,Y,0,171000.0,270000.0,10309.5,...,0,0,0,0,0.0,0.0,0.0,0.0,3.0,6.0
306472,455077,0,Cash loans,F,Y,N,0,171000.0,1762110.0,51651.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,7.0
306604,455233,0,Cash loans,F,N,Y,0,171000.0,675000.0,28728.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
306654,455290,1,Cash loans,M,Y,Y,1,171000.0,414792.0,21307.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
306876,455545,0,Cash loans,F,Y,Y,1,171000.0,675000.0,49248.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
306877,455546,0,Cash loans,F,N,Y,0,171000.0,144000.0,9751.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
306943,455615,1,Cash loans,F,N,N,0,171000.0,239850.0,25830.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
306999,455679,0,Cash loans,F,N,N,0,171000.0,481495.5,33642.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307019,455702,0,Cash loans,M,N,Y,0,171000.0,1078200.0,38331.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,3.0
307059,455744,0,Cash loans,M,Y,N,2,171000.0,490495.5,30136.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307138,455835,0,Cash loans,M,Y,N,0,171000.0,210456.0,13833.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
307289,456006,0,Cash loans,F,N,Y,0,171000.0,244584.0,13788.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307438,456176,1,Cash loans,M,N,Y,0,171000.0,1436850.0,42142.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0